body {
  margin: 0 auto;
  height: 100vh;
  font-family: "Cascadia Mono", sans-serif;
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("https://avatars.mds.yandex.net/i?id=a228970898206ee40c76a04318b76f11abd84e9a-5869613-images-thumbs&n=13");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  opacity: 0.3;
  transform: scale(1.03);
  z-index: -1;
}

.container {
  width: 1200px;
  height: 88vh;
  padding: 30px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.controls {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 2px;
}

input, select {
  padding: 6px;
  margin-top: 5px;
  height: 20px;
  width: 80px;
  font-family: "Cascadia Mono", sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#funcType {
  width: 100px;
  height: 33px;
}

#funcInput {
  width: 250px;
}

button {
  padding: 10px 25px;
  background: #674caa;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover:not(:disabled) {
  background: #533e8a;
}

button:disabled {
  cursor: auto;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
  background: white;
  border-radius: 16px;
}